<%= render 'navbar'%>
<section class="posts">
    <% if @users.blank? %>
        <p>There are no users currently in the system.</p>
    <% else %>
    <div class="card">
    <h5 class="card-header text-center">Poeple you may know</h5>
        <% @users.each do |user| %>
        <div class="card-body">
            <div class="row px-5">
                <div class="col rounded float-start">
                <%= image_tag("profile.jpg", :alt => "User icon")%>
                </div>
                <div class="col">
                <%= link_to user.name, user_path(user.id) %>
                </div>
                <p class="col">Number of posts: <span><%= user.posts.count %></span></p>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</section>