* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: rgb(240, 239, 243);
  margin: 20px;
  display: flex;
}

.users {
  background: #fff;
  border-radius: 15px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.user-list {
  display: flex;
  gap: 20px;
}

.user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}

img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
}

span {
  padding: 20px;
  color: red;
}

.user-profile {
  width: 405px;
  height: 650px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  padding: 20px;
  gap: 20px;
}

.user-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment_col {
  background-color: aliceblue;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}

.button {
  border-radius: 8px;
  background-color: #d2d2d2;
  border: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
  padding: 10px;
}

a {
  text-decoration: none;
}

.button a {
  text-decoration: none;
}

.card p,
h3,
span {
  font-size: 15px;
  text-align: center;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span::after {
  opacity: 1;
  right: 0;
}

.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.post-list-item a {
  text-decoration: none;
}

.posts {
  background: #fff;
  border-radius: 15px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
}

.posts a {
  text-decoration: none;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: aliceblue;
  padding: 20px;
  border: solid 1px #d2d2d2;
}

.all-users-link {
  background: blue;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.placeholder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: azure;
}

.card-body {
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: aliceblue;
  border: solid 1px #d2d2d2;
  margin-top: 20px;
}

.comments {
  font-size: 12px;
}

.card {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

.card li {
  list-style: none;
  font-size: 20px;
  text-align: center;
}

.card a {
  text-decoration: none;
}

.post-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: aliceblue;
  border: solid 1px #f2f2f2;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.post-details img {
  width: 35%;
  height: 30%;
}

.post-details h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

.post-details p {
  font-size: 15px;
  text-align: center;
  margin: 2% 20%;
}

.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 25px;
}

.form-group {
  border-radius: 5px;
  background-color: #e3dede;
  padding: 20px;
  margin: 20px;
}

.control-label {
  float: left;
}

.comments-title {
  text-align: center;
  margin: 20px;
}

.comments-list {
  margin: 20px;
}

.comment {
  padding: 20px;
  background-color: aliceblue;
  border: solid 1px #d2d2d2;
  border-radius: 15px;
  margin-top: 20px;
}

.likes-btn {
  border-radius: 5px;
  background-color: #431515;
  border: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
  padding: 10px;
}

.likes-btn:hover {
  background-color: #ff5656;
}

.btn-comment {
  border-radius: 5px;
  background-color: #031545;
  border: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 25px;
  padding: 10px;
}

.btn-comment:hover {
  background-color: #431515;
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.btn-primary {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
}

.show-post {
  margin: 5%;
}

.carousel {
  width: 100%;
  height: 100%;
  background-color: #f6f4f4;
}
